### While Loops:
    execute some code WHILE some condition remains true.

In [2]:
# Enter number between 1 and 10.

num = int(input("Enter a number: "))

while num < 1 or num > 10:
    print("You are out of range.")
    num = int(input("Try another number: "))
    
print(f"You have entered number {num}")

You are out of range.
You have entered number 5

In [ ]:
## Password matching program 

username = "Nepali Coder"
password = "pass@123/abc"

enter_password = input("Enter your password: ")
attempts = 3


while enter_password != password:
    print("You have entered wrong password.")
    attempts -= 1
    if attempts > 0:
        enter_password = input(f"Re-enter your password({attempts} attempts left): ")
    else:
        print("You are out of attempt. Please try again after 60 seconds.")         ## i need to quit the program if out of attempts.
        break
    
if enter_password == password:
    print(f"The Username \"{username}\" has been sucessfully logged in.")

#### Compound Interest Calculator Program


A = P*[1+(r/n)]^t

In [13]:
import math

principle = float(input("Enter the principle amount(in Rs.): "))
while principle < 0:
    principle = float(input("Re-enter the principle amount(in Rs.): "))   
     

rate = float(input("Enter the interest rate(in %): "))
while rate < 0:
    rate = float(input("Re-enter the interest rate(in %): "))
    
    
time = float(input("Enter the time(in years): "))
while time < 0:
    time = float(input("Re-enter the time(in years): "))
    

def compound_interest(principle, rate, time):
    interest_amount = principle*math.pow((1 + rate/100),time) - principle
    return interest_amount

interest_amount = compound_interest(principle, rate, time)
print(f"The total amount you have invested is: Rs.{principle} in a interest rate of {rate}% for the time of {time} years")
print()
print(f"Your interest amount is: Rs.{interest_amount:15.3f}")
add_interest = input("Do you want to add your interest to main balance? (Y/N) ")
if add_interest == "Y":
    print(f"Your new balance is: Rs.{principle + interest_amount :>15.3f}")

The total amount you have invested is: Rs.150000.0 in a interest rate of 5.0% for the time of 15.0 years

Your interest amount is: Rs.     161839.227
Your new balance is:      311839.227

In [12]:
add_interest = input("Do you want to add your interest to main balance? (Y/N) ")


if add_interest == "Y":
    print(f"Your new balance is: Rs. {principle + interest_amount :>.3f}")

Your new balance is: Rs.           102727.128

### ATM Machine Program

In [ ]:
# Bank Database:
def user_details(card_number, password):
    # if card_number == "1234-5678-9012-3455" and password == "Hari@pass123":
        username = "Hari prasad sapkota"
        address = "Damak"
        phone_no = "9812343558"
        atm_pin = "1188"
        balance = 45000.0
        


print("Welcome to Nepal_National_Bank !!!")
print("This is Cardless ATM Transaction.")
card_number = input("Please Enter your card number to begin the transaction.")

while card_number != "1234-5678-9012-3455":
    print(f"The Card number {card_number} hasn't been registered in our system. Please try a different one.")
    card_number = input("Please Re-enter your card number: ")
    
print("Your Card Number is identified.")
password = input("Please! Enter your password: ")
while password != "Hari@pass123":
    print("Wrong Password. Try again!!!")
    password = input("Please! Re-enter your password: ")
    
print("You are sucessfully logged into the system.")

print("What type of transaction would to like to perform ?")
print("Press \"1\" to Withdraw amount\nPress \"2\" to Deposit amount\nPress \"3\" to Check Balance.")
key_pressed = int("Enter you choice: ")

if key_pressed == 1:
    amount_withdraw = float(input("Enter the amount you want to withdraw: "))
    while amount_withdraw > user_details(card_number, password).
    
    

### This program will be done using oop concepts later on.

#### For loops:

    execute a block of code a fixed number of times. 
    You can iterate over a range, string, sequence, etc.

In [16]:
for i in "Any-sort of strings":
    print(i)

A
n
y
-
s
o
r
t

o
f

s
t
r
i
n
g
s

In [18]:
for i in "Any-sort of strings":
    if i == " ":
        continue
    print(i)

A
n
y
-
s
o
r
t
o
f
s
t
r
i
n
g
s

In [14]:
for i in range(3):
    print(i)

0
1
2

In [15]:
i = 0

while i < 5:
    print(i)
    i += 1
    if i == 3:
        break

0
1
2

In [25]:
# DownCounter Program

import time
import os

for i in range(10,0,-1):
    os.system("cls")
    print(i)
    time.sleep(1)

10
9
8
7
6
5
4
3
2
1

In [27]:
# Note: These are the programs for .py files

import time
import os

for i in range(10, 0, -1):
    print(f"\r{i}")
    time.sleep(1)

10
9
8
7
6
5
4
3
2
1

In [31]:
# For jupyter notebook files:

import time
from IPython.display import clear_output

for i in range(10,0,-1):
    clear_output()
    print(i)
    time.sleep(1)

1

#### Write a downcounter program that downcounts from 60 seconds.

In [36]:
import time
from IPython.display import clear_output

for i in range(10,-1,-1):
    clear_output()
    print(str(i).zfill(2))
    time.sleep(1)

00

In [44]:
import time 
from IPython.display import clear_output

hour = 2
minute = 2
seconds = 5

for hr in range(hour, -1, -1):
    for min in range(minute, -1, -1):
        for sec in range(seconds, -1, -1):
            clear_output()
            print(f"{str(hr).zfill(2)} : {str(min).zfill(2)} : {str(sec).zfill(2)}")
            time.sleep(1)

00 : 00 : 00

In [49]:
import time
from IPython.display import clear_output

hour = 2
minute = 5
second = 5

for hr in range(hour, 0, -1):
    for min in range(minute, 0, -1):
        for sec in range(second, 0, -1):
            clear_output()
            print(f"{hr:02} : {min:02} : {sec:02}")
            time.sleep(1)

01 : 01 : 01

KeyboardInterrupt:

In [63]:
time_val = 20263

second = time_val % 60
minute = int(time_val / 60) % 60
hour = int(time_val/3600)


print(second)
print(minute)
print(hour)

43
37
5

In [66]:
import time
from IPython.display import clear_output

downcounting_val = int(input("Enter the time (in seconds): "))

for i in range(downcounting_val, 0, -1):
    second = i % 60
    minute = int(i / 60) % 60
    hour = int(i/3600)
    
    clear_output()
    print(f"{hour:02} : {minute:02} : {second:02}")
    time.sleep(1)

00 : 00 : 01

### Nested Loop:

    A loop within another loop (outer, inner).

    outer loop :
    inner loop :

In [68]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [69]:
for x in range(0,10):
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

In [74]:
# Create a rectange of hashes.

rows = int(input("Enter number of rows: "))
cols = int(input("Enter number of columns: "))

for row in range(rows):
    for col in range(cols):
        print("#", end="")
    print()

#######
#######
#######
#######

#### Collection = single "variable" used to store multiple values.

    List    = [] ordered and changed. Duplicates OK
    Set     = {} unordered and immutable, but Add/Remove OK. No duplicates
    Tuple   = () ordered and unchangable. Duplicates OK. FASTER

##### List []

In [79]:
fruits = ["apple","banana","coconut","orange"]

print(fruits[1])

print(fruits[-1])

banana
orange

In [76]:
fruits[4]

IndexError: list index out of range

In [80]:
fruits[:3]

['apple', 'banana', 'coconut']

In [81]:
fruits[::-1]

['orange', 'coconut', 'banana', 'apple']

In [82]:
for fruit in fruits:
    print(fruit)

apple
banana
coconut
orange

In [83]:
print("mango" in fruits)

False

In [84]:
len(fruits)

4

In [85]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
print(help(fruits))

In [92]:
fruits = ["apple","banana","coconut","orange"]

In [87]:
fruits

['apple', 'banana', 'coconut', 'orange']

In [90]:
fruits[1] = "pineapple"

In [94]:
fruits.append("pineapple")

In [95]:
fruits

['apple', 'banana', 'coconut', 'orange', 'pineapple']

In [105]:
fruits.remove('coconut')

In [107]:
fruits.insert(3, "avocado")

In [108]:
fruits

['apple', 'banana', 'coconut', 'avocado', 'orange', 'pineapple']

In [109]:
fruits.sort()

fruits

['apple', 'avocado', 'banana', 'coconut', 'orange', 'pineapple']

In [111]:
fruits.sort(reverse=True)

fruits

['pineapple', 'orange', 'coconut', 'banana', 'avocado', 'apple']

In [112]:
fruits.clear()

In [113]:
fruits

[]

In [114]:
fruits = ["apple","banana","coconut","orange"]

In [121]:
fruits.index('pineapple')

ValueError: 'pineapple' is not in list

In [119]:
fruits.index("orange")

3

##### set {}

In [130]:
fruits = {"apple","banana","coconut","orange"}

In [131]:
print(fruits)

{'coconut', 'banana', 'orange', 'apple'}

In [133]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [134]:
fruits.add("pineapple")

In [135]:
print(fruits)

{'banana', 'apple', 'orange', 'pineapple', 'coconut'}

In [136]:
fruits.remove("apple")

In [137]:
print(fruits)

{'banana', 'orange', 'pineapple', 'coconut'}

In [138]:
fruits.pop()

'banana'

In [139]:
fruits.clear()

In [140]:
fruits

set()

In [141]:
fruits = {'apple','banana','coconut','apple'}

In [142]:
print(fruits)

{'coconut', 'banana', 'apple'}

#### Tuple ()

In [143]:
fruits = ('apple','banana','coconut','apple')

In [145]:
len(fruits)

4